<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Tier Venner Spill
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <style>
        .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body>

    <!--[if IE]>
    <p class="browsehappy">
        You are using an
        <strong>outdated</strong> and
        <strong>unsupported</strong> browser! Please
        <a href="https://www.google.com/chrome/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    <div ng-app="tiervenner" ng-controller="tiervenner as c" class="container ng-cloak">
        <h2>Hvem er tiervennen til {{c.question}}?</h2>
        <div class="row">
            <div class="col-xs-4" ng-repeat="a in c.answers">
                <div class="form-group">
                    <button class="btn btn-info btn-lg" ng-click="c.answer(c.question, a)">{{a}}</button>
                </div>
            </div>
            <div class="col-xs-12">
                Riktig: {{c.stats.ok}} Feil: {{c.stats.err}}
            </div>
        </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDni3bzY9Ej7KwZgzbmZfTlDaf__dBJkZY",
            authDomain: "tiervenner.firebaseapp.com",
            databaseURL: "https://tiervenner.firebaseio.com",
            projectId: "tiervenner",
            storageBucket: "",
            messagingSenderId: "659169005546"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
